*.cram
*.bam
*.sam
*.bai
*.dump
*.diff
*.pileup
*.fastq
*.fq
*.fa
*.kmc_pre
*.kmc_suf
*.tsv
*/old_files
*.html
workflow/results
workflow/attempt*
*/.snakemake
resources
*.fasta
*.fai
*.gff3
*.txt
results/
*.bed
