*.cram
*.bam
*.sam
*.bai
*.dump
*.diff
*.pileup
*.fastq
*.fq
*.fa
*.kmc_pre
*.kmc_suf
*.tsv
*/old_files
*.html
workflow/results
workflow/attempt*
*/.snakemake
resources
*.fasta
*.fai
*.gff3
*.txt
results/
*.bed
*.faa
*.tgz
*.tar.gz
*.tree
*.svg
*.out
*.maf
*.paf
*.gbz
*.min
*.dist
*.gam
*.anchors
*.csv
*.vcf.gz
*.vcf.gz.tbi
*.msa
*.vcf
